## Dataset: brain.csv

---

Source: R.J. Gladstone (1905). "A Study of the Relations of the Brain to to the Size of the Head", Biometrika, Vol. 4, pp105-123
Description: Brain weight (grams) and head size (cubic cm) for 237 adults classified by gender and age group.

Variables/Columns GENDER: 
- Gender: 1=Male, 2=Female
- AGE: Age Range 1=20-46, 2=46+
- SIZE: Head size (cm^3) 21-24 
- WEIGHT: Brain weight (grams) 29-32

---

In [3]:
# Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Read the csv file into pandas dataframe

brain = pd.read_csv('Data/brain.csv')
brain[:5].T

           0     1     2     3     4
gender     1     1     1     1     1
age        1     1     1     1     1
size    4512  3738  4261  3777  4177
weight  1530  1297  1335  1282  1590

In [8]:
brain.describe().T

        count         mean         std     min     25%     50%     75%     max
gender  237.0     1.434599    0.496753     1.0     1.0     1.0     2.0     2.0
age     237.0     1.535865    0.499768     1.0     1.0     2.0     2.0     2.0
size    237.0  3633.991561  365.261422  2720.0  3389.0  3614.0  3876.0  4747.0
weight  237.0  1282.873418  120.340446   955.0  1207.0  1280.0  1350.0  1635.0

In [5]:
# Assign the data to X and y
# Note: Sklearn requires a 7 x 1 array of values
# so we use reshape to create this

X = brain['weight'].values.reshape(-1,1)
y = brain['size'].values.reshape(-1,1)

print('Shape: ', X.shape, y.shape)

Shape:  (237, 1) (237, 1)

In [ ]:
# Plot the data to see if a linear trend exists

plt.